<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection">
    <meta name="referrer" content="no-referrer">
    <meta name="ui" uiW="750" isH5W="700"/>
    <title>H5-React</title>
    
</head>
<body>
    <script>
    !function(d,e){var c=d.documentElement,t="orientationchange"in window?"orientationchange":"resize",n=document.getElementsByTagName("meta").ui,m=n.getAttribute("isH5W"),r=n.getAttribute("uiW"),i=function(){document.body.style.minHeight=0;var e=c.clientWidth,t=c.clientHeight,n=document.body.scrollHeight,i=document.body.style,o=d.querySelector("html").style;i.width=r/100+"rem",e&&(i.minHeight=(n<t?t:n)+"px",o.fontSize=(m<e?m:e)/r*100+"px")};d.addEventListener&&(e.addEventListener(t,i,!1),d.addEventListener("DOMContentLoaded",i,!1),i())}(document,window)
    </script>
    <div id="root"></div>


    <script src="./caiyi.dll.d8e69.js"></script>
</body>
</html>
